.index {
  min-width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: url(../images/bgimage.jpg) no-repeat center center / cover;
}

.index h1 {
  font-size: 3.5rem;
}

.index p {
  font-size: 1.2rem;
}

.index button {
  min-width: 15%;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background: var(--primary-color);
  border-radius: 40px;
  transition: background 0.3s ease-in-out;
  outline: none;
}

.index button:hover {
  background: var(--primary-color-light);
}

.imageContainer {
  width: 450px;
}
