.footer {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem;
  background: #333;
  color: #f4f4f4;
}

@media (max-width: 800px) {
  .footer div {
    text-align: center;
  }

  .footer div span {
    display: block;
    margin-top: 0.5rem;
  }
}
