/* GLOBAL CSS IN HERE */
@import url("https://fonts.googleapis.com/css?family=Karla|Open+Sans&display=swap");

/* Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: inherit;
}

/* vars */
html {
  --light-color: #f4f4f4;
  --medium-light-color: #eee;
  --dark-color: #333;
  --primary-color: rgb(90, 158, 226);
  --primary-color-dark: rgb(51, 96, 141);
  --primary-color-light: rgb(179, 217, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Karla", sans-serif;
}
